/*
+ style by IvanBotty.cloud
+ date : 2019-01-06
+ V 1.0
*/

input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected {
    background-color: whitesmoke !important;
}

body{
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.slider{
    margin-top: 1em;
    margin-bottom: 1em;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    border-radius: 50%;
}

.loadingMore{
    display: none;
}

@keyframes loader {
    from{
        width: 5px;
    }   
    to{
        width: 100%;   
    }
}

.loader::after{
    top: 0;
    content: '';
    position: absolute;
    height: 3px;
    width: 5px;
    background-color: blueviolet;
    z-index: 9999999999;
    animation: loader ease-out 0.5s;
}

@keyframes fade-out {
    from {transform: translate3d(0, 0, 0);}
    to {transform: translate3d(0, 1000px, 0);}
}

@keyframes fade-in {
    from {transform: translate3d(0, 1000px, 0);}
    to {transform: translate3d(0, 0, 0);}
}

.fadeInElement {
    animation: fade-in 0.5s;
}

.fadeOutElement {
    animation: fade-out 0.5s;
}

.hidden {
  opacity: 0;
}

.fixed{
    overflow: hidden;
}

@keyframes scrollText{
    0% {
        transform: translateX(0%);
    }
    50%{
        transform:  translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

.textScroll{
    animation-duration: 20s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.fullText{
    display: inline-flex;
    inline-size: max-content;
    width: max-content;
}

.userIcon {
    width: 30px !important;
    height: 30px !important;
    background-size: cover !important;
    border-radius: 50%;
}

.userIconFull{
    width: 100px;
    height: 100px;
    background-size: cover !important;
    border-radius: 50%;
}

.saveEditItem, .redDel{
    display: none;
}

.btnSubmit{
    text-transform: uppercase;
    margin: 0.5em;
    float: right;
    font-size: 15px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 45px;
    border: 1px solid;
}

.btnSubmit:hover{
    box-shadow: 0px 1px 1px 0px #dadada;
}

.redDel{
    color: red !important;
    border-color: red !important;
    background: lightcoral !important;
}

.linkItem, .openView, .btnSubmit{
    cursor: pointer;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.fixedToolBar{
    position: fixed;
    background: white;
    right: 25%;
    left: 25%;
    padding: 1%;
    margin-top: -1em;
    box-shadow: 0 1px 5px 0px #33333342;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

.fixedBar{
    z-index: 999999999999999;
    position: fixed;
    background: white;
    width: calc(100% - 40%) !important;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 5px 20px 0px #33333314;
    padding: 0.5em !important;
    margin-top: 0.5em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.header > .fixedBar > .btnSearch {
    right: 15px !important;

}

.formSearch{
    width: calc(100% - 40%);
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5em !important;
    margin-top: 0.5em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.formSearch:hover{
    width: calc(100% - 40%) !important;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px #33333314;
    padding: 0.5em !important;
    margin-top: 0.5em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


.header > .formSearch > .inputSearch{
    height: 35px;
    width: calc(100% - 50px);
    outline: none;
    font-size: 25px;
    border: none;
}

.header > .formSearch > .btnSearch{
    margin: 0;
    padding: 0;
    width: 50px;
    height: 35px;
    position: absolute;
    border: none;
    background: none;
    outline: none;
}

.header > .formSearch > .btnSearch > span{
    margin: 0;
    padding: 0;
    width:  30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header > .formSearch > .btnSearch > span:hover{
    box-shadow: 0px 1px 1px 0px #dadada;
}

.filterSelector{
    width: 100%;
}

.filterSelector > .listFilter{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    list-style: none;
}

.filterSelector > .listFilter > .listFilterClear{
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid;
}

.filterSelector > .listFilter > .listFilterActive{
    border: 1px solid;
}

.filterSelector > .listFilter > li{
    text-transform: capitalize;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid whitesmoke;
    border-radius: 25px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.filterSelector > .listFilter > li:hover{
    box-shadow: 0px 1px 1px 0px #dadada;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.main{
    overflow: hidden;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 50px;
}

@keyframes sadColor{
    0%{
        color:  #333;
        background: darkgrey;
        border-color: #333;
    }
    25%{
        color: blueviolet;
        background: lavender;
        border-color: blueviolet;
    }
    50%{
        color: lightseagreen;
        background: lightgreen;
        border-color: lightseagreen;
        
    }
    75%{
        color: blueviolet;
        background: lavender;
        border-color: blueviolet;
    }
    100%{
        color:  #333;
        background: darkgrey;
        border-color: #333;
    }
}

.sad{
    width: 100%;
    display: inline-block;
    text-align: center;
}

.sad > i{
    color:  #333;
    background: darkgrey;
    border-color: #333;
    animation: sadColor;
    animation-delay: 10s;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    padding: 0.5em;
    border-radius: 100%;
    border: 1.5px solid;
    margin: 0.5em;
    font-size: 50px;
}

.view{
    display: none;
}


.view > .closeViewArea{
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    background: #33333354;
}

.view > .mainViewOption{
    overflow-y: scroll;
    overflow-x: hidden;
    bottom: 0;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    height: fit-content;
    margin-bottom: 40px;
    padding: 1em;
    position: fixed;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 -1px 20px 0px #00000024;
}

.view > .mainViewOption > .main{
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.view > .mainView{
    overflow-y: scroll;
    overflow-x: hidden;
    bottom: 0;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    max-height: calc(100% - 200px);
    margin-bottom: 45px;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    position: fixed;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 -1px 20px 0px #00000024;
}

.view > .mainView > div > form > .viewItem > .itemViewRow, .view > .mainView > div > form > .editItem > .itemViewRow  {
    padding-bottom: 1em;
    padding-top: 1em;
}

.view > .mainView > div > form > .toolBar, .view > .mainView > div > form > .editItem > .toolBar{
	z-index: 3;
    display: flex;
    justify-content: space-between;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

.view > .mainView > div > form > .editItem{
    display: none;
}

.view > .mainView > div > form > .itemViewRow > .nameItem, .view > .mainView > div > form > .editItem > .itemViewRow > .nameItem{
    font-size: 35px;
    font-weight: bold;
}

.view > .mainView > div > form > .viewItem > .itemViewRow > .listItemPhoto{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    list-style: none;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    list-style: none;
}

.view > .mainView > div > form > .viewItem > .itemViewRow > .listItemPhoto > .listItem{
    margin-left: 5px;
    margin-right: 5px;
} 

.view > .mainView > div > form > .viewItem > .itemViewRow > .listItemPhoto > .listItem > img{
    width: inherit;
    border-radius: 5px;
    border: 1px solid whitesmoke;
}


/* per mettere il campo position in alto a destra */
.view > .mainView > div > form > .viewItem > .itemViewRow:nth-child(1) > span:nth-child(2), .view > .mainView > div > form > .editItem > .itemViewRow:nth-child(1) > span:nth-child(2)  { 
    float: right;
}

.view > .mainView > div > form > .viewItem > .itemViewRow > .typeItem, .view > .mainView > div > form > .editItem > .itemViewRow > .typeItem{
    text-transform: capitalize;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid;
    border-radius: 25px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.view > .mainView > div > form > .viewItem > .itemViewRow > .input, .view > .mainView > div > form > .editItem > .itemViewRow > .input, .rowOptGroup > .rowOpt > div > form > div > input{
    font-size: 25px;
    border: none;
    outline: none;
}

.rowOptGroup > .rowOpt > div > form > div > input{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.view > .mainView > div > form > .viewItem > .itemViewRow > .inputTextarea, .view > .mainView > div > form > .editItem > .itemViewRow > .inputTextarea{
    width: 100%;
    font-size: 25px;
    border: none;
    outline: none;
}

.row{
    display: flex;
    align-items: center;
    height: 75px;
    padding-left: 1em;
    padding-right: 1em;
    border-right: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.row:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

.row:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: none;
}

.row:hover{
    box-shadow: 0 0 5px 0px #dadada;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.row > div {
    float: left;
    overflow: hidden;
    width: calc(100% - 45px);
}

.row > div > .nameItem{
    font-size: larger;
    font-weight: bold;
}

.row > div > .descItem{
    font-size: small;
}

.row > .quantityItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: fit-content;
    position: absolute;
    padding: 0;
    margin: 0;
}

.row > .quantityItem > span {
    margin-right: 1em;
    margin-left: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #3333333d;
    background-color: whitesmoke;
}

.row > .input, .row > .inputSelect{
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 25px;
    width: 100%;
    border: none;
    outline: none;
}

.row > .inputSelect, .row > div > form > .inputSelect{
    opacity: 0.5;
}

.rowOptGroup{
    align-items: center;
    padding: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.rowOptGroup > .rowOpt{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
}

.rowOptGroup > .rowOpt > div{
    width: 100%;
    margin-left: 1em;
}

.rowOptGroup > .rowOpt > div > div, .rowOptGroup > .rowOpt > div > form > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowOptGroup > .rowOpt > div > .nameItem {
    font-weight: bold;
}

.rowOptGroup > .rowOpt > div > form{
    width: -webkit-fill-available;
    margin-block-end: 0;
}

.rowOptGroup > .rowOpt > div > form > .inputSelect{
    margin-top: 0.5em;
    font-size: 15px;
    width: 100%;
    border: none;
    outline: none;
}

.rowOpt{
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.navMenu {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	align-content: center;
	list-style: none;
	height: 50px;
	position: relative;
}

.navMenu > .navMenuItem{
	display: flex;
	justify-content: center;
	align-content: center;
	margin-right: 0.5em;
	margin-left: 0.5em;
	position: relative;
	height: 30px;
}

.navBottom{
    z-index: 999999;
    background: white;
    box-shadow: -1px 0 1px 0px #dadada;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

.navBottom > nav {
    display: contents;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 50px;
}

.navBottom > nav > .navItem{
    display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
    height: 40px;
    width: 40px;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.navBottom > nav > .activeNav::after, .navMenu > .activeMenu::after{
    content: '';
    height: 3px;
    width: 105%;
    bottom: 0;
    position: absolute;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}